meta(charset='utf-8')
meta(content='IE=edge', http-equiv='X-UA-Compatible')
meta(content='width=device-width, initial-scale=1', name='viewport')

title= title
meta(content= description, name='description')
meta(content= keywords, name='keywords')

link(rel='shortcut icon', href='favicon.ico' type='image/x-icon')
link(rel='icon', href='favicon.ico' type='image/x-icon')

style
	include ../inlude_to_html/inline.css
script
	include ../inlude_to_html/modernizr-custom.js

//- PC-Common-CSS
link(rel="stylesheet", href="css/pc-css.css" media="(min-width: 1170px)")