extends common_parts/template.pug

block vars
	- var pageId = 1
	- var page_name = "home"

	- var title = "Купить Бетон в Щелково с доставкой, цена производителя Лесстрон"
	- var description = "Бетон и раствор в Щелково по цене производителя. Доставка до заказчика в коротие сроки"
	- var keywords = "бетон Щелково, купить бетон, цена на бетон, бетон с доставкой, раствор Щелково, купить раствор, раствор цена"

	- var beton_class = "home-page"


block header
	include common_parts/header.pug

block main

	main.beton__main
		.article__container

			.advantages-block.advantages-block--aic-jcsb

				.frame-block
					h4.advantages__h4 Своё промышленное производство!
					p.advantages__text.
						Обратившись к нам, заказчик получит столько бетона, сколько потребуется для выполнения плана на строительном объекте.
				
				.advantages__title
					p.advantages__overhead Наши преимущества
					h3.advantages__h3 Почему заказывать бетон в “Лесстроне” выгодно?


		.article__container

			.advantages-block.advantages-block__items-wrap.advantages-block__items--top-row

				.advantages-block__item
					img(src="img/icon-1.png", alt="#").advantages-block__item__icon
					h5.advantages-block__item__title Сами производим и доставляем
					p.advantages-block__item__text.
						Обладаем как производственными, так и логистическими мощностями. Вы не переплачиваете из-за посредников и сторонних подрядчиков

				.advantages-block__item
					img(src="img/icon-2.png", alt="#").advantages-block__item__icon
					h5.advantages-block__item__title Доставим быстро
					p.advantages-block__item__text.
						Мы уже не раз доставляли бетон в Щелково - отработанная логистика и собственный автопарк позволяют нам доставить бетон точно в срок, прямо к вам на объект в любой части города

				.advantages-block__item
					img(src="img/icon-3.png", alt="#").advantages-block__item__icon
					h5.advantages-block__item__title Высочайшее качество
					p.advantages-block__item__text.
						Для любого бетонного завода вопрос качества продукта стоит на первом месте. Мы - не исключение. Все марки бетона и виды раствора соотвествуют заявленным характеристикам


			.advantages-block.advantages-block__items-wrap--bottom-row

				.advantages-block__item
					img(src="img/icon-4.png", alt="#").advantages-block__item__icon
					h5.advantages-block__item__title Выгодные цена
					p.advantages-block__item__text.
						Цена бетона от 3000 руб. за м³. При заказе большого объема обсуждаются скидки. Подбробнее вам обо всем расскажет менеджер нашей компании, оставляйте заявку

				.advantages-block__item
					img(src="img/icon-5.png", alt="#").advantages-block__item__icon
					h5.advantages-block__item__title Целый завод к вашим услугам
					p.advantages-block__item__text.
						Наши производственные мощности позволяют гарантировать исполнение заказа любого объема даже в сжатые сроки. Когда бетона нужно много и срочно - мы вас выручим!


		.beton-price-block
			h2.beton-price__h2 Текущие цены на бетон

			.beton-price__table
				include common_parts/table_price_beton.pug


				.promotion-block

					.promotion-block__text-block
						h3.promotion-block__h3 Акция только до 31 августа!
						p.promotion-block__text.
							Бетон М-300 с доставкой <span>по цене 3700 руб/м<sup>3</sup></span> при заказе не менее 7 м<sup>3</sup>
					
					a(href="#callback").big-orange-button.popup-js Заказать бетон

		.assortiment__wrap
			.assortiment-block
				h2.assortiment-block__h2.
					Ценовая политика <br>
					нашей компании

				.assortiment__text-block
					p.
						Сегодня многих строителей и строительных компаний волнует важный вопрос – <b>где можно купить бетон в Щелково по низким ценам?</b> Мы предлагаем купить бетон любой марки у нас всего от 3000 руб. за кубический метр! Автоматизированная система производства, большой автопарк, продуманная логистика – компания Лесстрон гарантирует доставку любого объема продукции по оговоренному времени и в необходимое место.
					p.
						В случае, если миксер вышел из строя в пути – мы сразу отправляем новый, дабы не сбить график доставки бетона. Для производства качественной продукции мы применяем пластификаторы и необходимые добавки для повышения характеристик готового бетона. За счет этого раствор не будет бояться мороза и других климатических воздействий.
					p.assortiment__text-block--last-p.
						Благодаря налаженной производственной и транспортной системе заказчик может существенно сэкономить. Наша компания делает все, чтобы клиенты остались довольны! Поэтому, <b>если вы хотите получить вовремя и по низкой цене качественный бетон – звоните!</b> Специалисты Лесстрон помогут оформить заявку, осуществят расчет необходимого объема продукции.
					img(src="img/img_cement-2.jpg", alt="Строительный раствор").assortiment__picture
			
				.assortiment-block__post-text
					p.assortiment-block__post-text__text.
						Мы имеем огромный опыт поставки бетона, сохраняя наименьшую цену за куб – только у нас вы сможете не только заказать готовую смесь, но и существенно сэкономить.


		.template-article__wrap
			.text-elements__wrap
				h2.template__h2 Бетон в Щелково с доставкой
				p.
					Чтобы не терять драгоценное время на приготовление необходимого раствора при постройке дома, рекомендуем Вам заказать бетон в Щелково с доставкой.
				p.
					Компания Лесстрон специализируется на доставке бетона и раствора – мы не только своевременно привезем ваш заказ в любую точку города, но и гарантируем качество нашего продукта, за счет многоступенчатого контроля качества бетона.
				h3.text__h3 Почему выбирают нашу фирму?
				p
					| Причины, почему выбирают именно нас:
					ul.text__ul

						li В нашей компании огромный парк спецтехники, поэтому мы доставляем бетон в любое время – бесперебойная поставка очень важна при строительстве дома. При поломке автотранспорта мы делаем замену, не нарушая процесс поставки.

						li <b>У нас большой завод, что позволяет готовить продукт в любых количествах.</b> Марка, при этом, не имеет значения.

						li Наши водители хорошо знают дорогу и нюансы, которые могут возникнуть во время пути. Благодаря этому раствор доставят вовремя.

						li Стоимость на все марки бетона у нас ниже, чем средние цены на рынке – это значительно сказывается на стоимости строительства в общем.

						li Продукция нашего производства соответствует всем стандартам, установленным законодательством

				p.
					Один из важных факторов – вам не нужно доплачивать за скорость поставки бетона, так как водители компании Лесстрон знают короткие маршруты.
				p.
					Хотите купить бетон в Щелково? Обращайтесь в нашу компанию и вы получите качественный продукт по низкой цене!


		.template-article__wrap
			.text-elements__wrap
				h2.template__h2 Цена (прайс-лист) на строительный раствор

			.beton-price__table.beton-price__table--centered

				include common_parts/table_price_building_mixture.pug