extends common_parts/template.pug

block vars
	- var pageId = 3
	- var page_name = "mastika"
	- var title__h1 = "Битумная мастика с доставкой"

	- var title = "Битумная мастика в Щелково по цене поставщика";
	- var description = "Купить битумную мастику в Щелково по оптовой цене, возможна доставка до вашего объекта";
	- var keywords = "Битумная мастика в Щелково, купить битумную мастику, мастика цена, мастика для бетона";

	- var beton_class = "template-page template-page--mastika"

block header
	include common_parts/header__template.pug


block main

	.template-article__wrap
		.text-elements__wrap
			h2.template__h2 Битумная мастика с доставкой в Щелково
			p.
				Помимо цемента, раствора и бетона в нашей компании вы можете приобрести битумную мастику. В нашем каталоге имеется кровельная мастика для гидроизоляции, грунтования и улучшения адгезии. Цена на банку 18 литров – от 280 руб.
			p.
				Наши специалисты более подробно расскажут вам о продукции, доставке, а также скидкам на объем.
			p.
				Доставка мастики производится как в Щелково, так и в другие города Московской области.

			h3.text__h3 Цена битумной мастик
			p.
				Стоимость указана за 1 емкость. Возможен безналичный расчет. Доставка в цену не входит, НДС 18% учитывается.

			h3.text__h3 Заказ мастики
			p.
				Хотите оформить заказ? Тогда рекомендуем написать нам заявку на почту <a class="text-link" href="mailto:info@lesstron.com">info@lesstron.com</a> или позвонить по телефону <a class="text-link" href="tel:+79851177363">8-985 117-73-63</a>

	.mastika-section
		.container
			.mastika-cards__wrap

				.mastika-cards__items
					img(src="img/mastika_1.jpg", alt="Битумная грунтовка праймер").mastika-cards__img
					h3.card__h3 Праймер битумный (Битумная грунтовка)
					p.card__p.
						<b>Вес:</b> 16 кг (объём 18 л)<br>
						<b>Расход:</b> 0,3 - 0,5 кг/м2
					p.card__p.
						Применяется для подготовки (огрунтовки) изолируемых поверхностей (бетонная плита, и т.п.) перед укладкой гидроизоляционных материалов.
					p.card-price.
						<b>Цена: <span>520</span> руб.</b>

				.mastika-cards__items
					img(src="img/mastika_2.jpg", alt="Битумная грунтовка масляная").mastika-cards__img
					h3.card__h3 Масляная изоляционная мастика (МБМИ)
					p.card__p.
						<b>Вес:</b> 16 кг (объём 18 л)<br>
						<b>Расход:</b> 1,0 - 1,5 кг/м2
					p.card__p.
						Предназначена для антикоррозионной защиты бетонных, металлических, деревянных и других конструкций, в том числе трубопроводов
					p.card-price.
						<b>Цена: <span>320</span> руб.</b>

				.mastika-cards__items
					img(src="img/mastika_3.jpg", alt="Битумная грунтовка гидроизоляция").mastika-cards__img
					h3.card__h3 Гидроизоляционная мастика (МБГ)
					p.card__p.
						<b>Вес:</b> 16 кг (объём 18 л)<br>
						<b>Расход:</b> 1,2 - 1,5 кг/м2
					p.card__p.
						Мастика гидроизоляционная применяется для защиты от влаги расположенных в грунте строительных конструкций, изготовленных из бетона, железобетона, дерева.
					p.card-price.
						<b>Цена: <span>450</span> руб.</b>

				.mastika-cards__items
					img(src="img/mastika_4.jpg", alt="Битумная грунтовка универсальная").mastika-cards__img
					h3.card__h3 Универсальная битумная мастика (МБУ)
					p.card__p.
						<b>Вес:</b> 16 кг (объём 18 л)<br>
						<b>Расход:</b> 1,2 - 1,5 кг/м2
					p.card__p.
						Мастика для проведения аникоррозийных, кровельных, гидроизоляционных работ, а также в качестве приклеивания строительных материалов.
					p.card-price.
						<b>Цена: <span>280</span> руб.</b>