footer
	.container
		.footer__offer
			.footer__offer-text
				h3.footer__offer__h3.
					Не нашли ответов на вопросы?<br>
					А может хотите приобрести бетон или цемент?
				p.footer__offer__call-text Оставьте заявку на звонок!

			.footer__offer__calling
				a(href="#callback").big-orange-button.popup-js Перезвоните мне
				.footer__offer__phone-block
					span.call_to_call или позвоните нам<br>
					span.footer__offer__number 8 (499) 450-20-30

			img(src="img/cement.png", alt="#").footer__img


	.container
		.footer-contacts-line

			a(href="index.html").footer-logo
				img(src="img/logo2.png", alt="Логотип Лесстрон")

			.footer-contacts-elements
				span.footer-contacts__item.footer-contacts__item--mail info@lesstron.com
				span.footer-contacts__item.footer-contacts__item--phone 8 (967) 114-35-35
				span.footer-contacts__item.footer-contacts__item--phone 8 (499) 450-20-30

	.copyright
		p.copyright__text
			| Лесстрон - Производство бетона © 2018
			="  "
			| |
			="  "
			a(href="#").copyright__link Политика конфиденциальности

a(href="#callback").widget.open__modal--widget.popup-js
	.circle-fill(style="transform-origin: center;")
	.img-circle(style="transform-origin: center;")
		.img-circleblock(style="transform-origin: center;")