.price-table__top-row
	span.price-table__column-title Марка (класс) бетона
	span.price-table__column-title Гравий
	span.price-table__column-title Гранит

.price-table__row
	span.price-table__row-value М 100 (В 7,5)
	span.price-table__row-value 3 040 руб./м3
	span.price-table__row-value 3 880 руб./м3
.price-table__row
	span.price-table__row-value М 150 (В 12,5)
	span.price-table__row-value 3 150 руб./м3
	span.price-table__row-value 3 980 руб./м3
.price-table__row
	span.price-table__row-value М 200 (В 17,5)
	span.price-table__row-value 3 200 руб./м3
	span.price-table__row-value 4 080 руб./м3
.price-table__row
	span.price-table__row-value М 250 (В 20)
	span.price-table__row-value 3 405 руб./м3
	span.price-table__row-value 4 270 руб./м3
.price-table__row
	span.price-table__row-value М 300 (В 22,5)
	span.price-table__row-value 3 450 руб./м3
	span.price-table__row-value 4 360 руб./м3
.price-table__row
	span.price-table__row-value М 350 (В 25)
	span.price-table__row-value 3 640 руб./м3
	span.price-table__row-value 4 510 руб./м3
.price-table__row
	span.price-table__row-value М 400 (В 30)
	span.price-table__row-value 3 945 руб./м3
	span.price-table__row-value 4 820 руб./м3

.price-table__row.price-table__row--bottom-line
	span.price-table__row-value М 450 (В 30)
	span.price-table__row-value 4 285 руб./м3
	span.price-table__row-value 4 980 руб./м3