.price-table__top-row
	span.price-table__column-title Марка (класс) раствора
	span.price-table__column-title Цена

.price-table__row
	span.price-table__row-value М 100
	span.price-table__row-value 2 510 руб./ куб. м

.price-table__row
	span.price-table__row-value М 150
	span.price-table__row-value 2 640 руб./ куб. м

.price-table__row
	span.price-table__row-value М 200
	span.price-table__row-value 2 800 руб./ куб. м

.price-table__row
	span.price-table__row-value М 300
	span.price-table__row-value 3 000 руб./ куб. м